# Build output
build/

# Compiled binaries
*.o
*.out
*.exe
memory-notes-cli

# Object files
*.o
*.obj

# Static/Dynamic libraries
*.a
*.so
*.dll
*.dylib

# Debugger files
*.dSYM/
*.pdb

# Temporary/editor files
*.swp
*.swo
*~

# VS Code
.vscode/
.idea

# OS garbage
.DS_Store
Thumbs.db

#Data stuff
notes.bin

# Unused/Blank Frontend Stuff (Blank Right Now)
index.html
style.css
script.js
